In [45]:
import pandas as pd

df1 = pd.read_csv('IPL Matches 2008-2020.csv')
df2= pd.read_csv('IPL Ball-by-Ball 2008-2020.csv')

In [46]:
data=df1.merge(df2,on='id')
data

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,...,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,...,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,...,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,...,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,...,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,...,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193463,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,...,0,0,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193464,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,...,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193465,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,...,1,1,0,0,NaN,NaN,NaN,wides,Delhi Capitals,Mumbai Indians
193466,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,...,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193467,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,...,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians

In [47]:
data.drop(['date', 'city','player_of_match','neutral_venue','toss_winner','toss_decision','method', 'umpire1', 'umpire2','batsman', 'non_striker', 'bowler',
        'batsman_runs','extra_runs','result', 'non_boundary','eliminator','result_margin','dismissal_kind', 'player_dismissed', 'fielder', 'extras_type'], axis='columns',inplace=True)
data.head()

,id,venue,team1,team2,winner,inning,over,ball,total_runs,is_wicket,batting_team,bowling_team
0,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,6,5,1,0,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,6,6,1,0,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,7,1,0,0,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,7,2,1,0,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,7,3,1,0,Kolkata Knight Riders,Royal Challengers Bangalore

In [48]:
data1=data.groupby(['id','inning']).sum()['total_runs']
data1

id       inning
335982   1         222
         2          82
335983   1         240
         2         207
335984   1         129
                  ...
1237178  2         132
1237180  1         189
         2         172
1237181  1         156
         2         157
Name: total_runs, Length: 1630, dtype: int64

In [49]:
data1=data1.reset_index()
data1

           id  inning  total_runs
0      335982       1         222
1      335982       2          82
2      335983       1         240
3      335983       2         207
4      335984       1         129
...       ...     ...         ...
1625  1237178       2         132
1626  1237180       1         189
1627  1237180       2         172
1628  1237181       1         156
1629  1237181       2         157

[1630 rows x 3 columns]

In [50]:
data1=data1[data1.inning==1]
data1

           id  inning  total_runs
0      335982       1         222
2      335983       1         240
4      335984       1         129
6      335985       1         165
8      335986       1         110
...       ...     ...         ...
1620  1216547       1         201
1622  1237177       1         200
1624  1237178       1         131
1626  1237180       1         189
1628  1237181       1         156

[816 rows x 3 columns]

In [51]:
data1['Target']=data1['total_runs']+1
data1.drop(['total_runs'],axis='columns',inplace=True)
data1

C:\Users\v-soumishra\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\v-soumishra\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

           id  inning  Target
0      335982       1     223
2      335983       1     241
4      335984       1     130
6      335985       1     166
8      335986       1     111
...       ...     ...     ...
1620  1216547       1     202
1622  1237177       1     201
1624  1237178       1     132
1626  1237180       1     190
1628  1237181       1     157

[816 rows x 3 columns]

In [52]:
data=data.merge(data1,on='id')
data

,id,venue,team1,team2,winner,inning_x,over,ball,total_runs,is_wicket,batting_team,bowling_team,inning_y,Target
0,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,6,5,1,0,Kolkata Knight Riders,Royal Challengers Bangalore,1,223
1,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,6,6,1,0,Kolkata Knight Riders,Royal Challengers Bangalore,1,223
2,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,7,1,0,0,Kolkata Knight Riders,Royal Challengers Bangalore,1,223
3,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,7,2,1,0,Kolkata Knight Riders,Royal Challengers Bangalore,1,223
4,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,7,3,1,0,Kolkata Knight Riders,Royal Challengers Bangalore,1,223
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193463,1237181,Dubai International Cricket Stadium,Delhi Capitals,Mumbai Indians,Mumbai Indians,1,12,5,0,0,Delhi Capitals,Mumbai Indians,1,157
193464,1237181,Dubai International Cricket Stadium,Delhi Capitals,Mumbai Indians,Mumbai Indians,1,12,6,1,0,Delhi Capitals,Mumbai Indians,1,157
193465,1237181,Dubai International Cricket Stadium,Delhi Capitals,Mumbai Indians,Mumbai Indians,1,13,1,1,0,Delhi Capitals,Mumbai Indians,1,157
193466,1237181,Dubai International Cricket Stadium,Delhi Capitals,Mumbai Indians,Mumbai Indians,1,13,2,1,0,Delhi Capitals,Mumbai Indians,1,157
193467,1237181,Dubai International Cricket Stadium,Delhi Capitals,Mumbai Indians,Mumbai Indians,1,13,3,1,0,Delhi Capitals,Mumbai Indians,1,157

In [53]:
data=data[(data.inning_x==2)]
data

,id,venue,team1,team2,winner,inning_x,over,ball,total_runs,is_wicket,batting_team,bowling_team,inning_y,Target
121,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,6,2,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223
122,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,6,3,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223
123,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,6,4,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223
124,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,6,5,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223
125,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,6,6,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193372,1237181,Dubai International Cricket Stadium,Delhi Capitals,Mumbai Indians,Mumbai Indians,2,17,6,1,0,Mumbai Indians,Delhi Capitals,1,157
193373,1237181,Dubai International Cricket Stadium,Delhi Capitals,Mumbai Indians,Mumbai Indians,2,18,1,1,0,Mumbai Indians,Delhi Capitals,1,157
193374,1237181,Dubai International Cricket Stadium,Delhi Capitals,Mumbai Indians,Mumbai Indians,2,18,2,1,0,Mumbai Indians,Delhi Capitals,1,157
193375,1237181,Dubai International Cricket Stadium,Delhi Capitals,Mumbai Indians,Mumbai Indians,2,18,3,0,1,Mumbai Indians,Delhi Capitals,1,157
193376,1237181,Dubai International Cricket Stadium,Delhi Capitals,Mumbai Indians,Mumbai Indians,2,18,4,1,0,Mumbai Indians,Delhi Capitals,1,157

In [54]:
data=data[(data.inning_x==2)]
data

,id,venue,team1,team2,winner,inning_x,over,ball,total_runs,is_wicket,batting_team,bowling_team,inning_y,Target
121,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,6,2,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223
122,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,6,3,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223
123,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,6,4,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223
124,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,6,5,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223
125,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,6,6,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193372,1237181,Dubai International Cricket Stadium,Delhi Capitals,Mumbai Indians,Mumbai Indians,2,17,6,1,0,Mumbai Indians,Delhi Capitals,1,157
193373,1237181,Dubai International Cricket Stadium,Delhi Capitals,Mumbai Indians,Mumbai Indians,2,18,1,1,0,Mumbai Indians,Delhi Capitals,1,157
193374,1237181,Dubai International Cricket Stadium,Delhi Capitals,Mumbai Indians,Mumbai Indians,2,18,2,1,0,Mumbai Indians,Delhi Capitals,1,157
193375,1237181,Dubai International Cricket Stadium,Delhi Capitals,Mumbai Indians,Mumbai Indians,2,18,3,0,1,Mumbai Indians,Delhi Capitals,1,157
193376,1237181,Dubai International Cricket Stadium,Delhi Capitals,Mumbai Indians,Mumbai Indians,2,18,4,1,0,Mumbai Indians,Delhi Capitals,1,157

In [55]:
data.drop(['inning_x','inning_y','team1','team2'],axis='columns',inplace=True)
data.rename(columns={"total_runs":"Run_on_this_ball"},inplace=True)

In [56]:
data

,id,venue,winner,over,ball,Run_on_this_ball,is_wicket,batting_team,bowling_team,Target
121,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,2,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,223
122,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,3,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223
123,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,4,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223
124,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,5,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223
125,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,6,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,223
...,...,...,...,...,...,...,...,...,...,...
193372,1237181,Dubai International Cricket Stadium,Mumbai Indians,17,6,1,0,Mumbai Indians,Delhi Capitals,157
193373,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,1,1,0,Mumbai Indians,Delhi Capitals,157
193374,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,2,1,0,Mumbai Indians,Delhi Capitals,157
193375,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,3,0,1,Mumbai Indians,Delhi Capitals,157
193376,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,4,1,0,Mumbai Indians,Delhi Capitals,157

In [57]:
data.batting_team.unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Kolkata Knight Riders', 'Rajasthan Royals',
       'Mumbai Indians', 'Chennai Super Kings', 'Deccan Chargers',
       'Pune Warriors', 'Kochi Tuskers Kerala', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Delhi Capitals'], dtype=object)

In [58]:
data.batting_team=data.batting_team.str.replace('Delhi Daredevils','Delhi Capitals')
data.bowling_team=data.bowling_team.str.replace('Delhi Daredevils','Delhi Capitals')
data.batting_team=data.batting_team.str.replace('Deccan Chargers','Sunrisers Hyderabad')
data.bowling_team=data.bowling_team.str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [59]:
data.drop(data[data.batting_team=='Kochi Tuskers Kerala'].index,inplace=True)

In [60]:
data.drop(data[data.batting_team=='Pune Warriors'].index,inplace=True)
data.drop(data[data.batting_team=='Rising Pune Supergiants'].index,inplace=True)
data.drop(data[data.batting_team== 'Gujarat Lions'].index,inplace=True)
data.drop(data[data.batting_team=='Rising Pune Supergiant'].index,inplace=True)
batting1=data.batting_team.unique()
batting1

array(['Royal Challengers Bangalore', 'Kings XI Punjab', 'Delhi Capitals',
       'Kolkata Knight Riders', 'Rajasthan Royals', 'Mumbai Indians',
       'Chennai Super Kings', 'Sunrisers Hyderabad'], dtype=object)

In [61]:
len(batting1)

8

In [62]:
data.bowling_team.unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Sunrisers Hyderabad', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Capitals',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Gujarat Lions', 'Rising Pune Supergiant'], dtype=object)

In [63]:
data.drop(data[data.bowling_team=='Kochi Tuskers Kerala'].index,inplace=True)
data.drop(data[data.bowling_team=='Pune Warriors'].index,inplace=True)
data.drop(data[data.bowling_team=='Rising Pune Supergiants'].index,inplace=True)
data.drop(data[data.bowling_team== 'Gujarat Lions'].index,inplace=True)
data.drop(data[data.bowling_team=='Rising Pune Supergiant'].index,inplace=True)
bowling1=data.bowling_team.unique()
bowling1

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Sunrisers Hyderabad', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Capitals'], dtype=object)

In [64]:
len(bowling1)

8

In [65]:
data.isna().sum()

id                   0
venue                0
winner              27
over                 0
ball                 0
Run_on_this_ball     0
is_wicket            0
batting_team         0
bowling_team         0
Target               0
dtype: int64

In [66]:
data=data.dropna()
data.isna().sum()

id                  0
venue               0
winner              0
over                0
ball                0
Run_on_this_ball    0
is_wicket           0
batting_team        0
bowling_team        0
Target              0
dtype: int64

In [67]:
data['Ball_Number']=(data['over'])*6+data['ball']
data

C:\Users\v-soumishra\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,id,venue,winner,over,ball,Run_on_this_ball,is_wicket,batting_team,bowling_team,Target,Ball_Number
121,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,2,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,38
122,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,3,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,39
123,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,4,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,40
124,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,5,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,41
125,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,6,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,42
...,...,...,...,...,...,...,...,...,...,...,...
193372,1237181,Dubai International Cricket Stadium,Mumbai Indians,17,6,1,0,Mumbai Indians,Delhi Capitals,157,108
193373,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,1,1,0,Mumbai Indians,Delhi Capitals,157,109
193374,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,2,1,0,Mumbai Indians,Delhi Capitals,157,110
193375,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,3,0,1,Mumbai Indians,Delhi Capitals,157,111
193376,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,4,1,0,Mumbai Indians,Delhi Capitals,157,112

In [68]:
data_temp=data[['id','Run_on_this_ball','is_wicket']]
data_temp

             id  Run_on_this_ball  is_wicket
121      335982                 0          0
122      335982                 1          0
123      335982                 1          0
124      335982                 1          0
125      335982                 0          0
...         ...               ...        ...
193372  1237181                 1          0
193373  1237181                 1          0
193374  1237181                 1          0
193375  1237181                 0          1
193376  1237181                 1          0

[80314 rows x 3 columns]

In [69]:
data_temp.rename(columns={"Run_on_this_ball":"Runs"},inplace=True)
data_temp.rename(columns={"is_wicket":"Wickets"},inplace=True)
data_temp

C:\Users\v-soumishra\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

             id  Runs  Wickets
121      335982     0        0
122      335982     1        0
123      335982     1        0
124      335982     1        0
125      335982     0        0
...         ...   ...      ...
193372  1237181     1        0
193373  1237181     1        0
193374  1237181     1        0
193375  1237181     0        1
193376  1237181     1        0

[80314 rows x 3 columns]

In [70]:
data_temp=data_temp.groupby('id').cumsum()
data_temp

        Runs  Wickets
121        0        0
122        1        0
123        2        0
124        3        0
125        3        0
...      ...      ...
193372   154        4
193373   155        4
193374   156        4
193375   156        5
193376   157        5

[80314 rows x 2 columns]

In [71]:
data=data.reset_index()
data

,index,id,venue,winner,over,ball,Run_on_this_ball,is_wicket,batting_team,bowling_team,Target,Ball_Number
0,121,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,2,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,38
1,122,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,3,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,39
2,123,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,4,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,40
3,124,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,5,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,41
4,125,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,6,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,42
...,...,...,...,...,...,...,...,...,...,...,...,...
80309,193372,1237181,Dubai International Cricket Stadium,Mumbai Indians,17,6,1,0,Mumbai Indians,Delhi Capitals,157,108
80310,193373,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,1,1,0,Mumbai Indians,Delhi Capitals,157,109
80311,193374,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,2,1,0,Mumbai Indians,Delhi Capitals,157,110
80312,193375,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,3,0,1,Mumbai Indians,Delhi Capitals,157,111
80313,193376,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,4,1,0,Mumbai Indians,Delhi Capitals,157,112

In [72]:
data_temp=data_temp.reset_index()
data_temp

        index  Runs  Wickets
0         121     0        0
1         122     1        0
2         123     2        0
3         124     3        0
4         125     3        0
...       ...   ...      ...
80309  193372   154        4
80310  193373   155        4
80311  193374   156        4
80312  193375   156        5
80313  193376   157        5

[80314 rows x 3 columns]

In [73]:
data[['Runs','Wickets']]=data_temp[['Runs','Wickets']]
data

,index,id,venue,winner,over,ball,Run_on_this_ball,is_wicket,batting_team,bowling_team,Target,Ball_Number,Runs,Wickets
0,121,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,2,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,38,0,0
1,122,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,3,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,39,1,0
2,123,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,4,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,40,2,0
3,124,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,5,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,41,3,0
4,125,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,6,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,42,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80309,193372,1237181,Dubai International Cricket Stadium,Mumbai Indians,17,6,1,0,Mumbai Indians,Delhi Capitals,157,108,154,4
80310,193373,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,1,1,0,Mumbai Indians,Delhi Capitals,157,109,155,4
80311,193374,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,2,1,0,Mumbai Indians,Delhi Capitals,157,110,156,4
80312,193375,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,3,0,1,Mumbai Indians,Delhi Capitals,157,111,156,5
80313,193376,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,4,1,0,Mumbai Indians,Delhi Capitals,157,112,157,5

In [74]:
data['Balls_Left']=120-data['Ball_Number']
data['Runs_Left']=data['Target']-data['Runs']
data

,index,id,venue,winner,over,ball,Run_on_this_ball,is_wicket,batting_team,bowling_team,Target,Ball_Number,Runs,Wickets,Balls_Left,Runs_Left
0,121,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,2,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,38,0,0,82,223
1,122,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,3,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,39,1,0,81,222
2,123,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,4,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,40,2,0,80,221
3,124,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,5,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,41,3,0,79,220
4,125,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,6,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,42,3,0,78,220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80309,193372,1237181,Dubai International Cricket Stadium,Mumbai Indians,17,6,1,0,Mumbai Indians,Delhi Capitals,157,108,154,4,12,3
80310,193373,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,1,1,0,Mumbai Indians,Delhi Capitals,157,109,155,4,11,2
80311,193374,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,2,1,0,Mumbai Indians,Delhi Capitals,157,110,156,4,10,1
80312,193375,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,3,0,1,Mumbai Indians,Delhi Capitals,157,111,156,5,9,1
80313,193376,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,4,1,0,Mumbai Indians,Delhi Capitals,157,112,157,5,8,0

In [75]:
data['Wickets_Left']=10-data['Wickets']
data

,index,id,venue,winner,over,ball,Run_on_this_ball,is_wicket,batting_team,bowling_team,Target,Ball_Number,Runs,Wickets,Balls_Left,Runs_Left,Wickets_Left
0,121,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,2,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,38,0,0,82,223,10
1,122,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,3,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,39,1,0,81,222,10
2,123,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,4,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,40,2,0,80,221,10
3,124,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,5,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,41,3,0,79,220,10
4,125,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,6,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,42,3,0,78,220,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80309,193372,1237181,Dubai International Cricket Stadium,Mumbai Indians,17,6,1,0,Mumbai Indians,Delhi Capitals,157,108,154,4,12,3,6
80310,193373,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,1,1,0,Mumbai Indians,Delhi Capitals,157,109,155,4,11,2,6
80311,193374,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,2,1,0,Mumbai Indians,Delhi Capitals,157,110,156,4,10,1,6
80312,193375,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,3,0,1,Mumbai Indians,Delhi Capitals,157,111,156,5,9,1,5
80313,193376,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,4,1,0,Mumbai Indians,Delhi Capitals,157,112,157,5,8,0,5

In [76]:
data.drop(['index'],axis='columns',inplace=True)

In [77]:
data.drop(['over','ball','Run_on_this_ball','is_wicket','Ball_Number','Wickets'],axis='columns',inplace=True)
data

,id,venue,winner,batting_team,bowling_team,Target,Runs,Balls_Left,Runs_Left,Wickets_Left
0,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,223,0,82,223,10
1,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,223,1,81,222,10
2,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,223,2,80,221,10
3,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,223,3,79,220,10
4,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,223,3,78,220,10
...,...,...,...,...,...,...,...,...,...,...
80309,1237181,Dubai International Cricket Stadium,Mumbai Indians,Mumbai Indians,Delhi Capitals,157,154,12,3,6
80310,1237181,Dubai International Cricket Stadium,Mumbai Indians,Mumbai Indians,Delhi Capitals,157,155,11,2,6
80311,1237181,Dubai International Cricket Stadium,Mumbai Indians,Mumbai Indians,Delhi Capitals,157,156,10,1,6
80312,1237181,Dubai International Cricket Stadium,Mumbai Indians,Mumbai Indians,Delhi Capitals,157,156,9,1,5
80313,1237181,Dubai International Cricket Stadium,Mumbai Indians,Mumbai Indians,Delhi Capitals,157,157,8,0,5

In [78]:
def result(row):
    return 1 if row['batting_team']==row['winner'] else 0
data['result']=data.apply(result,axis=1)
data

,id,venue,winner,batting_team,bowling_team,Target,Runs,Balls_Left,Runs_Left,Wickets_Left,result
0,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,223,0,82,223,10,0
1,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,223,1,81,222,10,0
2,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,223,2,80,221,10,0
3,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,223,3,79,220,10,0
4,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,223,3,78,220,10,0
...,...,...,...,...,...,...,...,...,...,...,...
80309,1237181,Dubai International Cricket Stadium,Mumbai Indians,Mumbai Indians,Delhi Capitals,157,154,12,3,6,1
80310,1237181,Dubai International Cricket Stadium,Mumbai Indians,Mumbai Indians,Delhi Capitals,157,155,11,2,6,1
80311,1237181,Dubai International Cricket Stadium,Mumbai Indians,Mumbai Indians,Delhi Capitals,157,156,10,1,6,1
80312,1237181,Dubai International Cricket Stadium,Mumbai Indians,Mumbai Indians,Delhi Capitals,157,156,9,1,5,1
80313,1237181,Dubai International Cricket Stadium,Mumbai Indians,Mumbai Indians,Delhi Capitals,157,157,8,0,5,1

In [79]:
data.drop(['winner'],axis='columns',inplace=True)

In [80]:
data.isnull().sum()

id              0
venue           0
batting_team    0
bowling_team    0
Target          0
Runs            0
Balls_Left      0
Runs_Left       0
Wickets_Left    0
result          0
dtype: int64

In [81]:
venues=data.venue.unique()
venues

array(['M Chinnaswamy Stadium',
       'Punjab Cricket Association Stadium, Mohali', 'Feroz Shah Kotla',
       'Wankhede Stadium', 'Eden Gardens', 'Sawai Mansingh Stadium',
       'Rajiv Gandhi International Stadium, Uppal',
       'MA Chidambaram Stadium, Chepauk', 'Dr DY Patil Sports Academy',
       'Newlands', "St George's Park", 'Kingsmead', 'SuperSport Park',
       'Buffalo Park', 'New Wanderers Stadium', 'De Beers Diamond Oval',
       'OUTsurance Oval', 'Brabourne Stadium',
       'Sardar Patel Stadium, Motera', 'Barabati Stadium',
       'Vidarbha Cricket Association Stadium, Jamtha',
       'Himachal Pradesh Cricket Association Stadium',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'Subrata Roy Sahara Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
       'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
       'Maharashtra Cricket Association Stadium',
       'Punjab Cricket Association IS Bindra Stadium, Mohali',
       'M.Chinnaswamy Stadium', 'Holkar Cricket Stadium'], dtype=object)

In [84]:
data.venue=data.venue.str.replace('M.Chinnaswamy Stadium','M Chinnaswamy Stadium')
data.venue=data.venue.str.replace('Punjab Cricket Association IS Bindra Stadium, Mohali','Punjab Cricket Association Stadium, Mohali')
data.venue=data.venue.str.replace('Maharashtra Cricket Association Stadium','Subrata Roy Sahara Stadium')

C:\Users\v-soumishra\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [85]:
venues=data.venue.unique()
venues

array(['M Chinnaswamy Stadium',
       'Punjab Cricket Association Stadium, Mohali', 'Feroz Shah Kotla',
       'Wankhede Stadium', 'Eden Gardens', 'Sawai Mansingh Stadium',
       'Rajiv Gandhi International Stadium, Uppal',
       'MA Chidambaram Stadium, Chepauk', 'Dr DY Patil Sports Academy',
       'Newlands', "St George's Park", 'Kingsmead', 'SuperSport Park',
       'Buffalo Park', 'New Wanderers Stadium', 'De Beers Diamond Oval',
       'OUTsurance Oval', 'Brabourne Stadium',
       'Sardar Patel Stadium, Motera', 'Barabati Stadium',
       'Vidarbha Cricket Association Stadium, Jamtha',
       'Himachal Pradesh Cricket Association Stadium',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'Subrata Roy Sahara Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
       'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
       'Holkar Cricket Stadium'], dtype=object)

In [86]:
len(venues)

30

In [87]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
LE=LabelEncoder()

In [88]:
data['venue']=LE.fit_transform(data['venue'])
data['batting_team']=le.fit_transform(data['batting_team'])
data['bowling_team']=le.fit_transform(data['bowling_team'])
data

,id,venue,batting_team,bowling_team,Target,Runs,Balls_Left,Runs_Left,Wickets_Left,result
0,335982,13,6,3,223,0,82,223,10,0
1,335982,13,6,3,223,1,81,222,10,0
2,335982,13,6,3,223,2,80,221,10,0
3,335982,13,6,3,223,3,79,220,10,0
4,335982,13,6,3,223,3,78,220,10,0
...,...,...,...,...,...,...,...,...,...,...
80309,1237181,6,4,1,157,154,12,3,6,1
80310,1237181,6,4,1,157,155,11,2,6,1
80311,1237181,6,4,1,157,156,10,1,6,1
80312,1237181,6,4,1,157,156,9,1,5,1
80313,1237181,6,4,1,157,157,8,0,5,1

In [89]:
LE.classes_

array(['Barabati Stadium', 'Brabourne Stadium', 'Buffalo Park',
       'De Beers Diamond Oval', 'Dr DY Patil Sports Academy',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'Dubai International Cricket Stadium', 'Eden Gardens',
       'Feroz Shah Kotla', 'Himachal Pradesh Cricket Association Stadium',
       'Holkar Cricket Stadium', 'JSCA International Stadium Complex',
       'Kingsmead', 'M Chinnaswamy Stadium',
       'MA Chidambaram Stadium, Chepauk', 'New Wanderers Stadium',
       'Newlands', 'OUTsurance Oval',
       'Punjab Cricket Association Stadium, Mohali',
       'Rajiv Gandhi International Stadium, Uppal',
       'Sardar Patel Stadium, Motera', 'Sawai Mansingh Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'Sharjah Cricket Stadium', 'Sheikh Zayed Stadium',
       "St George's Park", 'Subrata Roy Sahara Stadium',
       'SuperSport Park', 'Vidarbha Cricket Association Stadium, Jamtha',
       'Wankhede Stadium'], dtype=object)

In [90]:
le.classes_

array(['Chennai Super Kings', 'Delhi Capitals', 'Kings XI Punjab',
       'Kolkata Knight Riders', 'Mumbai Indians', 'Rajasthan Royals',
       'Royal Challengers Bangalore', 'Sunrisers Hyderabad'], dtype=object)

In [91]:
x=data.venue.unique()
x

array([13, 18,  8, 29,  7, 21, 19, 14,  4, 16, 25, 12, 27,  2, 15,  3, 17,
        1, 20,  0, 28,  9,  5, 26, 22, 11, 24, 23,  6, 10])

In [92]:
venues

array(['M Chinnaswamy Stadium',
       'Punjab Cricket Association Stadium, Mohali', 'Feroz Shah Kotla',
       'Wankhede Stadium', 'Eden Gardens', 'Sawai Mansingh Stadium',
       'Rajiv Gandhi International Stadium, Uppal',
       'MA Chidambaram Stadium, Chepauk', 'Dr DY Patil Sports Academy',
       'Newlands', "St George's Park", 'Kingsmead', 'SuperSport Park',
       'Buffalo Park', 'New Wanderers Stadium', 'De Beers Diamond Oval',
       'OUTsurance Oval', 'Brabourne Stadium',
       'Sardar Patel Stadium, Motera', 'Barabati Stadium',
       'Vidarbha Cricket Association Stadium, Jamtha',
       'Himachal Pradesh Cricket Association Stadium',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'Subrata Roy Sahara Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
       'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
       'Holkar Cricket Stadium'], dtype=object)

In [93]:
venues1=pd.DataFrame(x,venues,columns=['code'])
venues1

                                                    code
M Chinnaswamy Stadium                                 13
Punjab Cricket Association Stadium, Mohali            18
Feroz Shah Kotla                                       8
Wankhede Stadium                                      29
Eden Gardens                                           7
Sawai Mansingh Stadium                                21
Rajiv Gandhi International Stadium, Uppal             19
MA Chidambaram Stadium, Chepauk                       14
Dr DY Patil Sports Academy                             4
Newlands                                              16
St George's Park                                      25
Kingsmead                                             12
SuperSport Park                                       27
Buffalo Park                                           2
New Wanderers Stadium                                 15
De Beers Diamond Oval                                  3
OUTsurance Oval                                       17
Brabourne Stadium                                      1
Sardar Patel Stadium, Motera                          20
Barabati Stadium                                       0
Vidarbha Cricket Association Stadium, Jamtha          28
Himachal Pradesh Cricket Association Stadium           9
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Sta...     5
Subrata Roy Sahara Stadium                            26
Shaheed Veer Narayan Singh International Stadium      22
JSCA International Stadium Complex                    11
Sheikh Zayed Stadium                                  24
Sharjah Cricket Stadium                               23
Dubai International Cricket Stadium                    6
Holkar Cricket Stadium                                10

In [94]:
y=data.batting_team.unique()
y

array([6, 2, 1, 3, 5, 4, 0, 7])

In [95]:
batting_code=pd.DataFrame(y,batting1,columns=['code'])
batting_code

                             code
Royal Challengers Bangalore     6
Kings XI Punjab                 2
Delhi Capitals                  1
Kolkata Knight Riders           3
Rajasthan Royals                5
Mumbai Indians                  4
Chennai Super Kings             0
Sunrisers Hyderabad             7

In [96]:
z=data.bowling_team.unique()
z

array([3, 0, 5, 4, 7, 2, 6, 1])

In [97]:
bowling_code=pd.DataFrame(z,bowling1,columns=['code'])
bowling_code

                             code
Kolkata Knight Riders           3
Chennai Super Kings             0
Rajasthan Royals                5
Mumbai Indians                  4
Sunrisers Hyderabad             7
Kings XI Punjab                 2
Royal Challengers Bangalore     6
Delhi Capitals                  1

In [98]:
X=data[['batting_team','bowling_team','venue','Runs_Left','Balls_Left','Wickets_Left']]

In [99]:
y=data['result']

In [100]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=10)

In [101]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier()

C:\Users\v-soumishra\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\gradient_boosting.py:34: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  from ._gradient_boosting import predict_stages
C:\Users\v-soumishra\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\gradient_boosting.py:34: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  from ._gradient_boosting import predict_stages

In [102]:
model.fit(X_train,y_train)

C:\Users\v-soumishra\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\v-soumishra\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:487: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  y_store_unique_indices = np.zeros(y.shape, dtype=np.int)
C:\Users\v-soumishra\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\tree\tree.py:149: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  y_encoded = np.zeros(y.shape, dtype=np.int)
C:\Users\v-soumishra\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\tree\tree.py:149: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  y_encoded = np.zeros(y.shape, dtype=np.int)
C:\Users\v-soumishra\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\tree\tree.py:149: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  y_encoded = np.zeros(y.shape, dtype=np.int)
C:\Users\v-soumishra\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\tree\tree.py:149: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  y_encoded = np.zeros(y.shape, dtype=np.int)
C:\Users\v-soumishra\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\tree\tree.py:149: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  y_encoded = np.zeros(y.shape, dtype=np.int)
C:\Users\v-soumishra\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\tree\tree.py:149: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  y_encoded = np.zeros(y.shape, dtype=np.int)
C:\Users\v-soumishra\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\tree\tree.py:149: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  y_encoded = np.zeros(y.shape, dtype=np.int)
C:\Users\v-soumishra\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\tree\tree.py:149: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  y_encoded = np.zeros(y.shape, dtype=np.int)
C:\Users\v-soumishra\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\tree\tree.py:149: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  y_encoded = np.zeros(y.shape, dtype=np.int)
C:\Users\v-soumishra\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\tree\tree.py:149: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  y_encoded = np.zeros(y.shape, dtype=np.int)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [103]:
model.score(X_train,y_train)

C:\Users\v-soumishra\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\base.py:158: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype=np.int)

0.9990972903145476

In [104]:
model.score(X_test,y_test)

C:\Users\v-soumishra\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\base.py:158: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype=np.int)

0.987735790325593